<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div>
    <p>
      <audio id="my-audio" controls>
        <source src="http://m8.music.126.net/20191024213544/c5ea61c2993de39dc6cec9decec5366e/ymusic/bbfc/9413/c7a7/00ef36eb2bc50570b18c063e7d7cc8e1.mp3" type="audio/mpeg">
      </audio>
    </p>
    <p>
      <canvas id="my-canvas" width="300" height="20">
      </canvas>
    </p>
  </div>

  <script>
    window.onload = function() {
      var myAudio = document.getElementById('my-audio');
      var myCanvas = document.getElementById('my-canvas');
      var context = myCanvas.getContext('2d');

      context.fillStyle = 'lightgray';
      context.fillRect(0, 0, myCanvas.width, myCanvas.height);
      context.fillStyle = 'red';
      context.strokeStyle = 'white';

      var inc = myCanvas.width / myAudio.duration;

      // display TimeRanges

      myAudio.addEventListener('seeked', function() {
        for (i = 0; i < myAudio.buffered.length; i++) {

          var startX = myAudio.buffered.start(i) * inc;
          var endX = myAudio.buffered.end(i) * inc;
          var width = endX - startX;

          context.fillRect(startX, 0, width, myCanvas.height);
          context.rect(startX, 0, width, myCanvas.height);
          context.stroke();
        }
      });
    };
  </script>
</body>
</html>